{% extends"layoutdelib.html.twig" %}
{% block body %}

    <!-- page content -->
    <div class="container-fluid">


        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">school</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">DELIBERATION SEMESTRIELLE</h4>
                        <img src="{{ asset('build/img/logosiges.jpg')}}" />
                    </div>
                </div>
            </div>



        </div>


    </div>
    <!-- /page content -->
    <!-- /page content -->




{% endblock %}