{% extends"layouttabledeliberation.html.twig" %}
{% block body %}





    <div id="tablemoyenneannuelle"></div><br><br>

    <div id="paging_here"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">


                <div class="card-content">


                    <p style="text-align: center;">



                        <button class="btn btn-success">

                            <a href="{{ path('siges_resultannuel') }}" target="_blank" style="color: white">RESULTAT DE L'ANNEE ACADEMIQUE</a>


                        </button>





                        <button class="btn btn-success">

                            <a href="{{ path('siges_startorientation') }}" target="_blank" style="color: white"> ORIENTATION EN  SRIT LICENCE 2</a>


                        </button>








                    </p>


                </div>
            </div>

        </div>

    </div>





{% endblock %}