{% extends"layoutstuvalidsem.html.twig" %}
{% block body %}

    <!-- page content -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">group</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">LISTE DES ETUDIANTS AYANTS VALIDES LE SEMESTRE </h4>
                        <table id="studvasem" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Photo</th>


                                <th>Matricule</th>


                                <th>Nom</th>


                                <th> Prénoms</th>

                                <th> Genre</th>
                                <th> Semestre</th>
                                <th> Session</th>

                                <th> Année Académique</th>

                                <th> Moyennne Semestre</th>

                                <th> Decision</th>




                            </tr>
                            </thead>
                            <tfoot>
                            <tr>

                                <th>Photo</th>

                                <th>Matricule</th>


                                <th>Nom</th>


                                <th> Prénoms</th>

                                <th> Genre</th>
                                <th> Semestre</th>
                                <th> Session</th>

                                <th> Année Académique</th>

                                <th> Moyennne Semestre</th>

                                <th> Decision</th>



                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <!-- /page content -->



{% endblock %}