{% extends"layouttabledeliberation.html.twig" %}
{% block body %}

    <!-- page content -->
    <div class="container-fluid">



        <div id="tabledeliberationsritl3"></div>

        <div id="paging_heresritl3"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="card-content">




                        <p style="text-align: center;">





                            <button class="btn">

                                <a href="{{ path('siges_averclassue') }}" target="_blank" style="color: white"> Moyenne classe Ecu</a>


                            </button>


                            <button class="btn">

                                <a href="{{ path('siges_enddelib') }}" target="_blank" style="color: white"> Statistiques</a>


                            </button>




                        </p>
                    </div>
                </div>

            </div>

        </div>



    </div>
    <!-- /page content -->



{% endblock %}