{% extends"layouttabledeliberation.html.twig" %}
{% block body %}

    <!-- page content -->
    <div class="container-fluid">

            <h4 class="card-title">TABLEAU DE DELIBERATION</h4>

        <div id="tabledeliberationm2sigladm"></div>

        <div id="paging_herem2sigladm"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="card-content">





                    </div>
                </div>

            </div>

        </div>



    </div>
    <!-- /page content -->



{% endblock %}